.white-bg {
    padding: 30px 5%;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    margin-bottom: 5%;
}

.profile-picture {
    margin-right: 5%;
}

.name-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
}

.full-name {
    font-weight: 900;
    margin: 0;
}

.username {
    margin: 0;
    color: var(--dark-blue);
}

.edit-button {
    margin-left: auto; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

.edit-button i {
    margin: 3px 1rem 0 0; 
}

hr {
    border: 0px solid var(--light-grey);
    border-top-width: 2px;
}

.body {
    margin-top: 5%;
}

.field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    margin: 1rem 0;
}

.label { 
    margin-right: 15px;
    font-weight: 600; 
    color: var(--mid-grey);
}

@media screen and (max-width: 600px) {
    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
        -webkit-box-align: center; 
            -ms-flex-align: center; 
                align-items: center;
        text-align: center;
    }
    .profile-picture {
        width: 100px; 
        margin-right: 0;
        margin-bottom: 1rem; 
    }
    .edit-button {
        margin: 1rem 0 0;
    }
}
