label {
    font-size: 14px;
}

.field:not(.bio) {
    align-items: center;
}

.bio textarea {
    margin-top: 1rem; 
    height: auto;
    resize: none; 
}

.bio {
    flex-direction: column; 
} 

.avatar {
    margin-bottom: 1rem; 
}

button {
    margin: 1rem 0;
}
