{% extends 'core/base.html' %}
{% load static %}
{% block deps %}
    <link rel="stylesheet"
          href="{% static 'css/fullcalendar.min.css' %}"
          type="text/css" />
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <link rel="stylesheet"
          href="{% static 'core/css/calendar/view.css' %}"
          type="text/css">
    <script src="{% static 'core/js/calendar/view.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="container">
        <div id="inlineContainer">
            <div id="calendar"></div>
        </div>
    </div>
    <div id="details">
        <div class="container">
            <a href="{% url 'calendar_ical' %}">URL to iCalendar (use this to add to Google Calendar)</a>
            <h3 id="detailsCurrentDay"></h3>
            <p id="detailsCurrentWeek"></p>
            <hr>
            <p class="no-event-inform">No events on this day</p>
            <div id="eventDetails"></div>
        </div>
    </div>
    <template id="card">
        <table class="dayEvent">
            <tr>
                <td class="leftPanel">
                    <span class="timeDisplay" id="event_start"></span>
                    <span class="ampm" id="event_start_ampm"></span>
                    <br>
                    <span class="intermediate_to">to</span>
                    <br>
                    <span class="timeDisplay" id="event_end"></span>
                    <span class="ampm" id="event_end_ampm"></span>
                </td>
                <td class="detailPanel">
                    <h4 class="event_title"></h4>
                    <em><a class="eventHost event_host_name"></a></em>
                    <hr>
                    <p class="event_description truncate-100"></p>
                    <div class="tag-section"></div>
                </td>
            </tr>
        </table>
    </template>
{% endblock %}
