{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/account.css' %}">
{% endblock %}

{% block heading %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary mb-3">{% trans "Sign In" %}</button>
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

{% endblock %}

