{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/account.css' %}">
{% endblock %}

{% block content %}
<div class="row wrapper">
    <div class="col m12 l6 hide-on-med-and-down">
        <img class="responsive-img account-art" src="{% static 'core/img/log-in.png' %}" />
    </div>
    <div class="col m12 l6">
        <div class="form-wrapper">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="tab-wrapper row">
                <div class="col s6">
                    <a href="{% url 'account_login' %}">
                        <div class="tab current">Log In</div>
                    </a>
                </div>
                <div class="col s6">
                    <a href="{% url 'account_signup' %}">
                        <div class="tab">Sign Up</div>
                    </a>
                </div>
            </div>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}

                

                <table border="1" >
                    {% for field in form.visible_fields %}
                    <div class="row">
                        
                        {% if field.auto_id != "id_remember" %}
                        <div class="input-field col s12">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        {% else %}
<!--                         <div class="col s12">
                            <label for="id_remember" class="valign-wrapper">
                                <input class="filled-in checkbox-blue" type="checkbox" name="remember" id="id_remember">
                                <span>Remember Me</span> -->
                                {# {{ field.errors }} #}
                            </label> 
                        {% endif %}

                        <script type="text/javascript">
                            var elmID = "{{field.auto_id}}";
                            document.getElementById(elmID).removeAttribute("placeholder");
                            console.log(document.getElementById(elmID))
                        </script>
                        </div>
                    </div>
                    {% endfor %}
                </table>

                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div>
                    <button type="submit" class="btn login-btn ">{% trans "Sign In" %}</button>
                </div>
                <p>Forgot your password? Click <a class="link" href="{% url 'account_reset_password' %}">here</a> to reset.</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

