{% extends 'account/base.html' %}
{% load i18n %}
{% load settings_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/account.css' %}">
{% endblock %}

{% block heading %}{% trans "Signup" %}{% endblock %}

{% block content %}
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{form}}
  </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <p>By clicking this button, you agree to our <a href="{% settings_value "TOS_URL" %}">terms</a>.</p>
    <button type="submit" class="btn btn-primary mb-3 g-recaptcha">{% trans "Sign Up" %}</button>
</form>

{% endblock %}
