{% extends 'base.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>{% block heading %}{% endblock %}</h1>
</div>
<div class="container">
    {% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer class="footer mt-auto py-3 float-right">
        <div class="container">
            <span class="text-muted">Designed by Patrick Lin and Paul Lee.</span>
        </div>
    </footer>
</div>

{% block extra_body %}
{% endblock %}
{% endblock %}

{% block title %}
{% block head_title %}{% endblock %}
{% endblock %}
