{% extends 'timetable/base.html' %}
{% load tz %}
{% load gravatar_tags %}
{% load link_tags %}

{% block main %}
{% get_current_timezone as TIME_ZONE %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ school.name }}</h5>
        <p class="card-text">{{ school.description }}</p>
    </div>
</div>

<div class="card my-3">
    <div class="card-header">Term</div>
    <ul class="list-group list-group-flush">
        {% for term in school.terms.all %}
            <li class="list-group-item">{{ term.pk|term }}</li>
        {% endfor %}
    </ul>
</div>

<div class="card my-3">
    <div class="card-header">People</div>
    <ul class="list-group list-group-flush">
        {% for user in school.users.all %}
            <li class="list-group-item">{{ user|user }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
