{% extends 'core/base.html' %}
{% load link_tags %}
{% load static %}

{% block deps %}
    <link rel="stylesheet" href="{% static 'core/css/exhibit-list.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="card-container">
            <div class="cards" id="cards-all">
                {% for exhibit in feed_all %}
                    {% include "./card_snippet.html" %}
                {% empty %}
                    <div class="message">There are no images in the gallery posted at this time. Check back in a bit!</div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
