db.sqlite3
*.pyc
/.venv
_build
/.direnv
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
celerybeat-schedule
/mobile
/doodle
# editors
/.idea
.vscode/*
# django stuff
local_settings.py
*.log
