http://localhost:8000 {
#maclyonsden.com {
        log {
                output file /var/log/caddy/maclyonsden.com.access.log {
                        roll_size 128MiB
                }
                format json
        }

	# TODO: dockerify komorebi
        #@komorebi {
        #        path /static/*
        #        path /media/*
        #        query fmt=*
        #}
        #handle @komorebi {
        #        encode zstd gzip
        #        reverse_proxy unix//run/komorebi.sock
        #}

        @file {
                path /static/*
                path /media/*
        }
        handle @file {
                root * /app-public
                encode zstd gzip

                file_server
        }

        handle_path /static2/* { # static files not managed by Django
                root * /app-static2
                encode zstd gzip
                file_server
        }

        reverse_proxy gunicorn:28780
}
