[tool.isort]
profile = "black" # we use check for make fmt*
skip_gitignore = true # no need to fmt ignored
skip = "core/migrations" # no need to format migrations

[tool.black]
extend_exclude = "core/migrations/.*" # see tool.isort.skip

[tool.poetry]
name = "metropolis"
version = "0.1.0"
description = "William Lyon Mackenzie's online hub for announcements, calendar events, clubs, and timetables"
authors = ["nyiyui <+@nyiyui.ca>"]

[tool.poetry.dependencies]
python = "^3.8"
asgiref = "3.4.1"
bleach = "4.1.0"
certifi = "2022.12.7"
cffi = "1.15.0"
charset-normalizer = "2.0.7"
cryptography = "*"
defusedxml = "0.7.1"
Deprecated = "1.2.13"
Django = "4.0.10"
django-allauth = "0.45.0"
django-appconf = "1.0.5"
django-cors-headers = "3.10.0"
django-crispy-forms = "*"
django-oauth-toolkit = "*"
django-pwa = "*"
django-recaptcha = "3.0.0"
django-redis = "5.0.0"
django-select2 = "*"
django-storages = "1.12.2"
djangorestframework = "3.12.4"
djangorestframework-simplejwt = "5.0.0"
idna = "3.3"
jwcrypto = "1.4"
Markdown = "3.3.4"
martor = "*"
oauthlib = "3.2.2"
packaging = "23.0"
Pillow = "9.3.0"
pycparser = "2.20"
Pygments = "2.11.2"
PyJWT = "2.4.0"
pyparsing = "3.0.6"
python3-openid = "3.2.0"
pytz = "2021.3"
redis = "3.5.3"
requests = "*"
requests-oauthlib = "1.3.0"
six = "1.16.0"
sqlparse = "0.4.3"
urllib3 = "*"
webencodings = "0.5.1"
wrapt = "1.13.3"
django_ical = "1.8.3"
platformdirs = "2.6.2"
alt-profanity-check = "*"
celery = "*"
exponent_server_sdk = "*"
#[tool.poetry.group.deploy.dependencies]
gunicorn = "20.1.0"
psycopg2 = "2.9.1"

#[tool.poetry.group.dev.dependencies]
#django-stubs = "*"
black = "*"
isort = "*"

[tool.mypy]
plugins = ["mypy_django_plugin.main"]

[tool.django-stubs]
django_settings_module = "metropolis.settings"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
