amqp==5.1.1 ; python_version >= "3.9" and python_version < "4.0"
asgiref==3.7.2 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.9" and python_version < "4.0"
billiard==4.1.0 ; python_version >= "3.9" and python_version < "4.0"
black==23.10.0 ; python_version >= "3.9" and python_version < "4.0"
bleach==4.1.0 ; python_version >= "3.9" and python_version < "4.0"
cachetools==5.3.1 ; python_version >= "3.9" and python_version < "4.0"
celery==5.3.4 ; python_version >= "3.9" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.15.0 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==2.0.7 ; python_version >= "3.9" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
cryptography==41.0.4 ; python_version >= "3.9" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.9" and python_version < "4.0"
deprecated==1.2.13 ; python_version >= "3.9" and python_version < "4.0"
django-allauth==0.57.0 ; python_version >= "3.9" and python_version < "4.0"
django-appconf==1.0.5 ; python_version >= "3.9" and python_version < "4.0"
django-cors-headers==4.3.0 ; python_version >= "3.9" and python_version < "4.0"
django-crispy-forms==2.0 ; python_version >= "3.9" and python_version < "4.0"
django-hijack==3.4.2 ; python_version >= "3.9" and python_version < "4.0"
django-ical==1.8.3 ; python_version >= "3.9" and python_version < "4.0"
django-oauth-toolkit==2.3.0 ; python_version >= "3.9" and python_version < "4.0"
django-pwa==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
django-recaptcha==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
django-recurrence==1.11.1 ; python_version >= "3.9" and python_version < "4.0"
django-redis==5.0.0 ; python_version >= "3.9" and python_version < "4.0"
django-select2==8.1.2 ; python_version >= "3.9" and python_version < "4.0"
django-storages==1.14.2 ; python_version >= "3.9" and python_version < "4.0"
django==4.1.10 ; python_version >= "3.9" and python_version < "4.0"
djangorestframework-simplejwt==5.3.0 ; python_version >= "3.9" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.9" and python_version < "4.0"
exponent-server-sdk==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.9" and python_version < "4.0"
icalendar==5.0.10 ; python_version >= "3.9" and python_version < "4.0"
idna==3.3 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==4.8.3 ; python_version >= "3.9" and python_version < "4.0"
isort==5.12.0 ; python_version >= "3.9" and python_version < "4.0"
jwcrypto==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
kombu==5.3.2 ; python_version >= "3.9" and python_version < "4.0"
markdown==3.3.4 ; python_version >= "3.9" and python_version < "4.0"
martor==1.6.28 ; python_version >= "3.9" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.9" and python_version < "4.0"
packaging==23.0 ; python_version >= "3.9" and python_version < "4.0"
pathspec==0.11.2 ; python_version >= "3.9" and python_version < "4.0"
pillow==10.0.1 ; python_version >= "3.9" and python_version < "4.0"
platformdirs==2.6.2 ; python_version >= "3.9" and python_version < "4.0"
prompt-toolkit==3.0.39 ; python_version >= "3.9" and python_version < "4.0"
psycopg2==2.9.1 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.20 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.15.0 ; python_version >= "3.9" and python_version < "4.0"
pyjwt==2.4.0 ; python_version >= "3.9" and python_version < "4.0"
pyjwt[crypto]==2.4.0 ; python_version >= "3.9" and python_version < "4.0"
pyparsing==3.0.6 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
python3-openid==3.2.0 ; python_version >= "3.9" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.9" and python_version < "4.0"
redis==4.4.4 ; python_version >= "3.9" and python_version < "4.0"
requests-oauthlib==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
setuptools==68.2.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2023.3 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.0.7 ; python_version >= "3.9" and python_version < "4.0"
vine==5.0.0 ; python_version >= "3.9" and python_version < "4.0"
wcwidth==0.2.8 ; python_version >= "3.9" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.9" and python_version < "4.0"
wrapt==1.15.0 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "4.0"
