alt-profanity-check @ file:///build/alt-profanity-check-1.2.2/dist/alt_profanity_check-1.2.2-py3-none-any.whl
amqp @ file:///build/dist/amqp-5.1.1-py3-none-any.whl
asgiref @ file:///build/dist/asgiref-3.4.1-py3-none-any.whl
billiard @ file:///build/dist/billiard-3.6.4.0-py3-none-any.whl
black @ file:///build/dist/black-23.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
bleach @ file:///build/dist/bleach-4.1.0-py2.py3-none-any.whl
celery @ file:///build/dist/celery-5.2.7-py3-none-any.whl
certifi @ file:///build/dist/certifi-2022.12.7-py3-none-any.whl
cffi @ file:///build/dist/cffi-1.15.0-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
charset-normalizer @ file:///build/dist/charset_normalizer-2.0.7-py3-none-any.whl
click @ file:///build/dist/click-8.1.3-py3-none-any.whl
click-didyoumean @ file:///build/dist/click_didyoumean-0.3.0-py3-none-any.whl
click-plugins @ file:///build/dist/click_plugins-1.1.1-py2.py3-none-any.whl
click-repl @ file:///build/dist/click_repl-0.2.0-py3-none-any.whl
cryptography @ file:///build/dist/cryptography-40.0.2-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
defusedxml @ file:///build/dist/defusedxml-0.7.1-py2.py3-none-any.whl
Deprecated @ file:///build/dist/Deprecated-1.2.13-py2.py3-none-any.whl
Django @ file:///build/dist/Django-4.0.10-py3-none-any.whl
django-allauth @ file:///build/django-allauth-0.45.0/dist/django_allauth-0.45.0-py3-none-any.whl
django-appconf @ file:///build/dist/django_appconf-1.0.5-py3-none-any.whl
django-cors-headers @ file:///build/dist/django_cors_headers-3.10.0-py3-none-any.whl
django-crispy-forms @ file:///build/dist/django_crispy_forms-2.0-py3-none-any.whl
django-ical @ file:///build/dist/django_ical-1.8.3-py3-none-any.whl
django-multiselectfield @ file:///build/dist/django_multiselectfield-0.1.12-py3-none-any.whl
django-oauth-toolkit @ file:///build/dist/django_oauth_toolkit-2.2.0-py3-none-any.whl
django-pwa @ file:///build/dist/django_pwa-1.1.0-py3-none-any.whl
django-recaptcha @ file:///build/dist/django_recaptcha-3.0.0-py3-none-any.whl
django-recurrence @ file:///build/dist/django_recurrence-1.11.1-py3-none-any.whl
django-redis @ file:///build/dist/django_redis-5.0.0-py3-none-any.whl
django-select2 @ file:///build/dist/django_select2-8.1.1-py3-none-any.whl
django-storages @ file:///build/dist/django_storages-1.12.2-py3-none-any.whl
djangorestframework @ file:///build/dist/djangorestframework-3.12.4-py3-none-any.whl
djangorestframework-simplejwt @ file:///build/dist/djangorestframework_simplejwt-5.0.0-py3-none-any.whl
exponent-server-sdk @ file:///build/dist/exponent_server_sdk-2.0.0-py3-none-any.whl
gunicorn @ file:///build/dist/gunicorn-20.1.0-py3-none-any.whl
icalendar @ file:///build/dist/icalendar-5.0.5-py3-none-any.whl
idna @ file:///build/dist/idna-3.3-py3-none-any.whl
isort @ file:///build/dist/isort-5.12.0-py3-none-any.whl
joblib @ file:///build/dist/joblib-1.2.0-py3-none-any.whl
jwcrypto @ file:///build/jwcrypto-1.4/dist/jwcrypto-1.4-py3-none-any.whl
kombu @ file:///build/dist/kombu-5.2.4-py3-none-any.whl
Markdown @ file:///build/dist/Markdown-3.3.4-py3-none-any.whl
martor @ file:///build/martor-1.6.26/dist/martor-1.6.26-py3-none-any.whl
mypy @ file:///build/source/dist/mypy-0.981-cp310-cp310-linux_x86_64.whl
mypy-extensions @ file:///build/dist/mypy_extensions-1.0.0-py3-none-any.whl
numpy @ file:///build/dist/numpy-1.24.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
oauthlib @ file:///build/dist/oauthlib-3.2.2-py3-none-any.whl
packaging @ file:///build/dist/packaging-23.0-py3-none-any.whl
pathspec @ file:///build/dist/pathspec-0.11.1-py3-none-any.whl
Pillow @ file:///build/dist/Pillow-9.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
platformdirs @ file:///build/dist/platformdirs-2.6.2-py3-none-any.whl
poetry @ file:///build/source/dist/poetry-1.3.0-py3-none-any.whl
prompt-toolkit @ file:///build/dist/prompt_toolkit-3.0.38-py3-none-any.whl
psycopg2 @ file:///build/psycopg2-2.9.1/dist/psycopg2-2.9.1-cp310-cp310-linux_x86_64.whl
pycparser @ file:///build/dist/pycparser-2.20-py2.py3-none-any.whl
Pygments @ file:///build/dist/Pygments-2.11.2-py3-none-any.whl
PyJWT @ file:///build/dist/PyJWT-2.4.0-py3-none-any.whl
pyparsing @ file:///build/dist/pyparsing-3.0.6-py3-none-any.whl
python-dateutil @ file:///build/dist/python_dateutil-2.8.2-py2.py3-none-any.whl
python3-openid @ file:///build/dist/python3_openid-3.2.0-py3-none-any.whl
pytz @ file:///build/dist/pytz-2021.3-py2.py3-none-any.whl
redis @ file:///build/dist/redis-3.5.3-py2.py3-none-any.whl
requests @ file:///build/dist/requests-2.28.2-py3-none-any.whl
requests-oauthlib @ file:///build/dist/requests_oauthlib-1.3.0-py2.py3-none-any.whl
scikit-learn @ file:///build/dist/scikit_learn-1.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
scipy @ file:///build/dist/scipy-1.9.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
six @ file:///build/dist/six-1.16.0-py2.py3-none-any.whl
sqlparse @ file:///build/dist/sqlparse-0.4.3-py3-none-any.whl
threadpoolctl @ file:///build/dist/threadpoolctl-3.1.0-py3-none-any.whl
tomli @ file:///build/dist/tomli-2.0.1-py3-none-any.whl
typing_extensions @ file:///build/typing_extensions-4.3.0/dist/typing_extensions-4.3.0-py3-none-any.whl
urllib3 @ file:///build/dist/urllib3-1.26.15-py2.py3-none-any.whl
vine @ file:///build/dist/vine-5.0.0-py2.py3-none-any.whl
wcwidth @ file:///build/dist/wcwidth-0.2.6-py2.py3-none-any.whl
webencodings @ file:///build/dist/webencodings-0.5.1-py2.py3-none-any.whl
wrapt @ file:///build/dist/wrapt-1.13.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
