amqp==5.3.1 ; python_version == "3.12"
annotated-types==0.7.0 ; python_version == "3.12"
anyio==4.12.1 ; python_version == "3.12"
asgiref==3.11.1 ; python_version == "3.12"
attrs==25.4.0 ; python_version == "3.12"
billiard==4.2.4 ; python_version == "3.12"
bleach==4.1.0 ; python_version == "3.12"
celery==5.6.2 ; python_version == "3.12"
certifi==2026.2.25 ; python_version == "3.12"
cffi==2.0.0 ; python_version == "3.12"
charset-normalizer==3.4.4 ; python_version == "3.12"
click-didyoumean==0.3.1 ; python_version == "3.12"
click-plugins==1.1.1.2 ; python_version == "3.12"
click-repl==0.3.0 ; python_version == "3.12"
click==8.3.1 ; python_version == "3.12"
colorama==0.4.6 ; python_version == "3.12" and platform_system == "Windows"
cryptography==46.0.5 ; python_version == "3.12"
defusedxml==0.7.1 ; python_version == "3.12"
distro==1.9.0 ; python_version == "3.12"
django-allauth==65.13.1 ; python_version == "3.12"
django-appconf==1.2.0 ; python_version == "3.12"
django-cors-headers==3.14.0 ; python_version == "3.12"
django-hijack==3.7.6 ; python_version == "3.12"
django-ical==1.8.4 ; python_version == "3.12"
django-oauth-toolkit==3.2.0 ; python_version == "3.12"
django-pwa==2.0.1 ; python_version == "3.12"
django-recurrence==1.14 ; python_version == "3.12"
django-redis==5.4.0 ; python_version == "3.12"
django-reversion==5.1.0 ; python_version == "3.12"
django-select2==8.4.8 ; python_version == "3.12"
django==5.2.12 ; python_version == "3.12"
djangorestframework-simplejwt==5.5.1 ; python_version == "3.12"
djangorestframework==3.16.1 ; python_version == "3.12"
drf-spectacular==0.27.0 ; python_version == "3.12"
exponent-server-sdk==2.2.0 ; python_version == "3.12"
google-auth-oauthlib==1.3.0 ; python_version == "3.12"
google-auth==2.48.0 ; python_version == "3.12"
google-genai==1.65.0 ; python_version == "3.12"
gspread==6.2.1 ; python_version == "3.12"
gunicorn==23.0.0 ; python_version == "3.12"
h11==0.16.0 ; python_version == "3.12"
httpcore==1.0.9 ; python_version == "3.12"
httpx==0.28.1 ; python_version == "3.12"
icalendar==7.0.3 ; python_version == "3.12"
idna==3.11 ; python_version == "3.12"
inflection==0.5.1 ; python_version == "3.12"
jsonschema-specifications==2025.9.1 ; python_version == "3.12"
jsonschema==4.26.0 ; python_version == "3.12"
jwcrypto==1.5.6 ; python_version == "3.12"
kombu==5.6.2 ; python_version == "3.12"
markdown==3.10.2 ; python_version == "3.12"
martor==1.7.16 ; python_version == "3.12"
memoization==0.4.0 ; python_version == "3.12"
oauthlib==3.3.1 ; python_version == "3.12"
packaging==26.0 ; python_version == "3.12"
pillow==12.1.1 ; python_version == "3.12"
prompt-toolkit==3.0.52 ; python_version == "3.12"
psycopg-binary==3.1.20 ; sys_platform != "linux" and implementation_name != "pypy" and python_version == "3.12"
psycopg==3.1.20 ; python_version == "3.12"
pyasn1-modules==0.4.2 ; python_version == "3.12"
pyasn1==0.6.2 ; python_version == "3.12"
pycparser==3.0 ; python_version == "3.12" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version == "3.12"
pydantic==2.12.5 ; python_version == "3.12"
pyjwt==2.11.0 ; python_version == "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.12"
pytz==2026.1.post1 ; python_version == "3.12"
pyyaml==6.0.3 ; python_version == "3.12"
redis==4.6.0 ; python_version == "3.12"
referencing==0.37.0 ; python_version == "3.12"
requests-oauthlib==2.0.0 ; python_version == "3.12"
requests==2.32.5 ; python_version == "3.12"
rpds-py==0.30.0 ; python_version == "3.12"
rsa==4.9.1 ; python_version == "3.12"
sentry-sdk==2.54.0 ; python_version == "3.12"
six==1.17.0 ; python_version == "3.12"
sniffio==1.3.1 ; python_version == "3.12"
sqlparse==0.5.5 ; python_version == "3.12"
tenacity==9.1.4 ; python_version == "3.12"
typing-extensions==4.15.0 ; python_version == "3.12"
typing-inspection==0.4.2 ; python_version == "3.12"
tzdata==2025.3 ; python_version == "3.12"
tzlocal==5.3.1 ; python_version == "3.12"
uritemplate==4.2.0 ; python_version == "3.12"
urllib3==2.6.3 ; python_version == "3.12"
vine==5.1.0 ; python_version == "3.12"
wcwidth==0.6.0 ; python_version == "3.12"
webencodings==0.5.1 ; python_version == "3.12"
websockets==16.0 ; python_version == "3.12"
zipp==3.23.0 ; python_version == "3.12"
