{% extends 'base.html' %}
{% load link_tags %}
{% load gravatar_tags %}
{% load static %}
{% load martortags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/tv.css' %}">
    <script type="module" src="{% static 'core/js/tv/clubs-v2.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/marked@16.3.0/lib/marked.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.2.7/dist/purify.min.js"></script>
   
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/qr-code-styling@1.9.2/lib/qr-code-styling.min.js"></script>
{% endblock %}
{% block body %}
    <div id="fade"></div>
    <div class="wrapper">
        <div id="progress-bar"></div>
        <div class="content">
            <div class="club-detail">
                <div class="club-header">
                    <div class="club-header-img">
                        <div class="club-logo">
                            <img class="circle" id="club-logo">
                        </div>
                    </div>
                    <div class="club-header-text">
                        <div>
                            <h2 id="club-name"></h2>
                            <div id="tag-section"></div>
                        </div>
                    </div>
                </div>
                <p id="bio"></p>
                <!-- <h3 id="exec-title">Executives</h3>
                <hr>
                <div class="club-execs scrollable" id="scrollable1"></div> -->
                <div class="scrollable" id="extra-content"></div>
            </div>
            <div class="right">
                <iframe id="map" src="" frameborder="0" allowfullscreen="false" mozallowfullscreen="false" webkitallowfullscreen="false"></iframe>
                
                <!--<div class="description scrollable" id="scrollable2"></div>-->
                <!-- <div class="location">
                    <object id="location"
                    type="image/svg+xml"
                    data="{% static 'core/img/tv/gen-map.svg' %}"></object>
                </div> -->
                <div id="bottom-container">
                    <div>
                        <p id="qrcode-text">Club QR Code</p>
                        <div id="qrcode" alt="QR code for the club"></div>
                    </div>
                    <img id="made-by" src="{% static 'core/img/tv/made-by.png' %}" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
