{% extends 'core/base.html' %}
{% load link_tags %}
{% load gravatar_tags %}
{% load settings_tags %}
{% load static %}

{% block deps %}
<link rel="stylesheet" href="{% static 'core/css/about.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="headers">
        <ul>
            <li class="header" id="history">WLMCI</li>
            <li class="header" id="about">ABOUT</li>
            <li class="header" id="team">TEAM</li>
            <li class="header" id="map">MAP</li>
            <li class="header" id="school">CONTACT WLMCI</li>
            <li class="header" id="contact">CONTACT US</li>
        </ul>
        <script>
            $(document).ready(function() {
                var urlParams = new URLSearchParams(window.location.search);
                if(!urlParams.get("tab")) {
                    $("#history").addClass("active");
                    urlParams.set("tab", "history");
                }
                history.replaceState(null, null, "?"+urlParams.toString());
                $(".header").click(function() {
                    if (this.id === "map") {
                        window.open("/map", "_self")
                    } else {
                        $(".header").removeClass("active");
                        $(this).addClass("active");
                        $(".content").hide();
                        $("#content-"+this.id).show();
                        urlParams.set("tab", this.id);
                        history.replaceState(null, null, "?"+urlParams.toString());
                    }
                });
            });
        </script>
    </div>
    <div class="content-container">
        <div class="content" id="content-history">
            <h1 class="title">Welcome to the Lyon's Den</h1>
            <hr>
            <h2 class="subtitle">Home and Pride of the Mackenzie Lyons circa 1960</h2>
            <p class="text">
                William Lyon Mackenzie C. I. is a Toronto District Secondary School opened in 1960 and located in North York.
                Mackenzie was named after the historical prowess William Lyon Mackenzie, the political agitator who led the
                government revolt in Toronto in 1837. In its years of establishing a home of blue and gold, William Lyon Mackenzie
                Collegiate not only built an incredible student body of 1500 strong, but also a strong, tight-knit community that
                prides itself on multicultural diversity, inclusion, creativity and academic innovation. And, here is where the
                heart and soul of the Lyon Pride resound.
            </p>
            <p class="text">
                William Lyon Mackenzie Collegiate boasts scholastic excellence in its academic programing: the MaCS enrichment
                program, the Gifted Program, the ELL program, the Advanced Placement Program, and the FIT program. Collectively,
                these programs have helped nurture student voice and advocacy and inspire a variety of extracurricular
                opportunities from clubs and councils to intramurals and athletics, to school-wide events and initiatives, all
                of which beautifully reflect the spirit of membership - the roar of the Lyon Pride.
            </p>
        </div>
        <div class="content" id="content-about">
            <h1 class="title">Our Vision</h1>
            <hr>
            <p class="text">
                By definition, a metropolis is a significant cultural center of a country or region
                and a central hub for regional connections and communications.
                Likewise, it is our goal at Project Metropolis to create a centralized website at WLMAC where all students can easily
                access and share information with their peers, making this our own, online metropolis.
            </p>
            <h1 class="title">About the Site</h1>
            <hr>
            <p class="text">
                The Mackenzie Lyon's Den (Project Metropolis) is a student-driven website that showcases the best of Mackenzie's pride;
                a central microcosm and communication hub, rich in representing the diverse facets of student life.
                Welcome to the Lyon's Den, the first stop to find out more about Mackenzie, its school-wide activities, events,
                initiatives, clubs and councils, Student Council offerings, creative student voice and essential resources to enrich
                Mackenzie student life!
            </p>
            <p class="text">
                Our site will continue to roll out new features and updates in the coming months.
                Users can look forward to a notification system, searching system, and a mobile app.
            </p>
        </div>
        <div class="content" id="content-team">
            <h1 class="title">Our Team</h1>
            <hr>
            <p class="text">
                A diverse group of {{ member_count }} developers, artists, and creators worked in tandem to build this site. Our applications are open to all students, so if you're interested in joining our team, please apply <a href="https://forms.gle/MLrFckYTyYJ3R5KdA">here</a>
            </p>
            <h1 class="title">Members</h1>
            <hr>
            {% for position, users in members.items %}
            <div class="member-list">
                {% if position == "Alumnus" %}
                <h2 class="subtitle">Alumn{{ users|pluralize:"us,i" }}</h2>
                {% else %}
                <h2 class="subtitle">{{position}}{{ users|pluralize }}</h2>
                {% endif %}
                {% for user in users %}
                <a href="{{user.username|user_url}}">
                    <div class="member">
                        <div class="member-name">
                            <div class="member-image">
                                <img class="circle" src="{{user.email|gravatar_url:100}}">
                            </div>
                            <div class="member-text">
                                {{user.get_full_name}}
                            </div>
                        </div>
                        {% if user.staff_bio %}
                        <hr>
                        <div class="member-bio">
                            {{user.staff_bio}}
                        </div>
                        {% endif %}
                    </div>
                </a>
                {% empty %}
                No members under this position.
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="content" id="content-contact">
            <h1 class="title">Contact Us</h1>
            <hr>
            <p class="text">
                If you ever find bugs or problems with the site, or need to be granted the staff status,
                feel free to <a class="link" href="mailto:hello@maclyonsden.com" target="_blank">email</a> us
                or use the form below.
            </p>
            <ul class="link-section">
                <div>
                    <li>
                        <a class="link" href="mailto:hello@maclyonsden.com" target="_blank">
                            <i class="zmdi zmdi-email zmdi-hc-lg" aria-hidden="true"></i>
                            <p>hello@maclyonsden.com</p>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://github.com/wlmac" target="_blank">
                            <i class="zmdi zmdi-github zmdi-hc-lg" aria-hidden="true"></i>
                            <p>wlmac</p>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://www.instagram.com/wlmac.sac/" target="_blank">
                            <i class="zmdi zmdi-instagram zmdi-hc-lg" aria-hidden="true"></i>
                            <p>@wlmac.sac</p>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://www.facebook.com/groups/keeptrackofmac" target="_blank">
                            <i class="zmdi zmdi-facebook-box zmdi-hc-lg" aria-hidden="true"></i>
                            <p>Keep Track of MAC</p>
                        </a>
                    </li>
                </div>
            </ul>
            <br>
            <div class="content-embed">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSerD9wL2Sg8AIEVxc7ZPPIYcNPnCBnUuXTxOajhkvv8TMxwAw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">
                    Loading…
                </iframe>
            </div>
        </div>
        <div class="content" id="content-school">
            <h1 class="title">Contact the School</h1>
            <hr>
            <p class="text">
                Project Metropolis is a site affiliated with William Lyon Mackenzie Collegiate Institute.
                To contact the school, please refer to the channels of communication listed below.
            </p>
            <ul class="link-section">
                <div>
                    <li>
                        <a class="link" href="https://wlmac.ca/" target="_blank">
                            <i class="zmdi zmdi-link zmdi-hc-lg" aria-hidden="true"></i>
                            <p>WLMCI Offical Website</p>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://goo.gl/maps/WyfTKUqKrbecU4RE9" target="_blank">
                            <i class="zmdi zmdi-map zmdi-hc-lg" aria-hidden="true"></i>
                            <p>20 Tillplain Road, North York, ON M3H 5R2</p>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="tel:+1-416-395-3330">
                            <i class="zmdi zmdi-phone zmdi-hc-lg" aria-hidden="true"></i>
                            <p>416-395-3330</p>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="tel:+1-416-395-4453">
                            <i class="zmdi zmdi-phone zmdi-hc-lg" aria-hidden="true"></i>
                            <p>416-395-4453 (fax)</p>
                        </a>
                    </li>
                </div>
            </ul>
            <h2 class="subtitle">Admin</h2>
            <hr>
            <ul class="link-section">
                <div>
                    <h3 class="section-title">Principal</h3>
                    <li>
                        <a class="link" href="mailto:cynthia.nguyen@tdsb.on.ca" target="_blank">
                            <i class="zmdi zmdi-email zmdi-hc-lg" aria-hidden="true"></i>
                            <p>Mrs. Cynthia Nguyen (cynthia.nguyen@tdsb.on.ca)</p>
                        </a>
                    </li>   <h3 class="section-title">Vice Principals</h3>
                    <li>
                        <a class="link" href="mailto:jyoti.khona@tdsb.on.ca" target="_blank">
                            <i class="zmdi zmdi-email zmdi-hc-lg" aria-hidden="true"></i>
                            <p>Jyoti Khona (jyoti.khona@tdsb.on.ca) (last names A-L)</p>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="mailto:barbara.horman@tdsb.on.ca" target="_blank">
                            <i class="zmdi zmdi-email zmdi-hc-lg" aria-hidden="true"></i>
                            <p>Ms. Barbara Horman (barbara.horman@tdsb.on.ca) (last names A-L)</p>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="mailto:karim.sukhu@tdsb.on.ca" target="_blank">
                            <i class="zmdi zmdi-email zmdi-hc-lg" aria-hidden="true"></i>
                            <p>Mr. Karim Sukhu (karim.sukhu@tdsb.on.ca) (last names M-Z)</p>
                        </a>
                    </li>
                </div>
            </ul>
            {% comment %}
            {% if user.is_authenticated %}
            <h2 class="subtitle">Staff</h2>
            <hr>
            <ul class="link-section">
                <div style="flex: 1;">
                    {% settings_value "TEACHER_EMAILS" as teachers %}
                    {% for teacher in teachers %}
                    <li class="teacher">
                        <a class="link" href="{{teacher.mailto}}" target="_blank">
                            <i class="zmdi zmdi-email zmdi-hc-lg" aria-hidden="true"></i>
                            <p>{{teacher.name}} ({{teacher.email|safe}})</p>
                        </a>
                        <a class="dept" style="color: var(--near-black);">
                            <p>{{teacher.dept}}</p>
                            <i class="zmdi zmdi-group-work zmdi-hc-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endfor %}
                </div>
            </ul>
            {% endif %}
            {% endcomment %}
        </div>
        <script>
            $(document).ready(function() {
                var urlParams = new URLSearchParams(window.location.search);
                $(".content").hide();
                if(!$("#content-"+urlParams.get("tab")).length) {
                    urlParams.set("tab", "history");
                    history.replaceState(null, null, "?"+urlParams.toString());
                }
                $("#content-"+urlParams.get("tab")).show();
                $(".header").removeClass("active");
                $("#"+urlParams.get("tab")).addClass("active");
                //$(".card-authors-text").find("a").addClass("link");
            });
        </script>
    </div>
</div>
{% endblock %}
