{% extends 'core/base.html' %} 
{% load static %} 

{% block deps %}
<link rel="stylesheet" href="{% static 'core/css/map.css' %}" />
<link rel="stylesheet" href="{% static 'css/mapbox-gl.css' %}" />
<link rel="stylesheet" href="{% static 'css/mapbox-gl-geocoder.css' %}" />
<script src="{% static 'js/mapbox-gl.js' %}"></script>
<script src="{% static 'js/mapbox-gl-geocoder.min.js' %}"></script>

{{ mapbox_apikey|json_script:"mapbox-apikey" }}
{% endblock %} 

{% block main %}
<div class="map-container">
    <div class="switch-container">
        <div class="switch" id="floor">
            <label style="font-size: 1rem;">
                Floor One
                <input type="checkbox" name="checkbox" id="checkbox">
                <span class="lever"></span>
                Floor Two
            </label>
        </div>
    </div>
    <div class="map" id="map"></div>
</div>

<script src="{% static 'core/js/map/map.js' %}"></script>
{% endblock %}
