{% extends 'core/base.html' %} 
{% load static %} 

{% block deps %}
<link rel="stylesheet" href="{% static 'core/css/map.css' %}" />
<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>

{{ mapbox_apikey|json_script:"mapbox-apikey" }}
{% endblock %} 

{% block main %}

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

<div class="map-container">
    <div class="switch-container">
        <div class="switch" id="floor">
            <label style="font-size: 1rem;">
                Floor One
                <input type="checkbox" name="checkbox" id="checkbox">
                <span class="lever"></span>
                Floor Two
            </label>
        </div>
    </div>
    <!-- <pre id="coordinates" class="coordinates"></pre> -->
    <div class="map" id="map"></div>
    <p>Legend</p>
    <div class = "legend-container">
        <div class="legend">
            <div style="background-color: #946987; width: 100px; height: 10px;"></div>
            <p>General Spaces</p>
        </div>
        <div class="legend">
            <div style="background-color: #946469; width: 100px; height: 10px;"></div>
            <p>Washrooms + Changerooms</p>
        </div>
        <div class="legend">
            <div style="background-color: #b0a169; width: 100px; height: 10px;"></div>
            <p>Offices</p>
        </div>
        <div class="legend">
            <div style="background-color: #68936f; width: 100px; height: 10px;"></div>
            <p>Classrooms + Labs</p>
        </div>
        <div class="legend">
            <div style="background-color: #5d97d1; width: 100px; height: 10px;"></div>
            <p>Stairways</p>
        </div>
        <div class="legend">
            <div style="background-color: #3774b2; width: 100px; height: 10px;"></div>
            <p>Hallways</p>
        </div>
        <div class="legend">
            <div style="background-color: #646d78; width: 100px; height: 10px;"></div>
            <p>Miscellaneous</p>
        </div>

    </div>
</div>

<script src="{% static 'core/js/map/map.js' %}"></script>
{% endblock %}
