{% extends 'base.html' %}
{% load common_tags %}
{% load settings_tags %}
{% load static %}

{% block title %}{{ title }} | Metropolis{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<!--script src="{% static 'core/js/install.js' %}" type="text/javascript"></script-->
{% block deps %}
{% endblock %}
{% endblock %}

{% block body %}

<div class="install-popup" style="display:flex">
<!--div class="install-popup" style="display:none"-->
    <!--img src="{% static 'core/img/logo-dark-transparent.png' %}"-->
    <img src="{% static 'core/img/logo-dark.png' %}">
    <!--span>Access info faster using our web app!</span-->
    <span>Ghost what it takes? Try our Halloween doodle!</span>
    <div>
        <!--a id="install-popup-button" class="waves-effect waves-light btn">Install</a-->
        <a id="install-popup-button" class="waves-effect waves-light btn" href="https://doodle.maclyonsden.com/" target="_blank">Play</a>
        <!--a onclick="dismissInstallPrompt()">Not now</a-->
    </div>
</div>

<ul id="dropdownAcc" class="dropdown-content">
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'profile_redirect' %}">Profile</a></li>
    <li><a href="{% url 'timetable_list' %}">Timetable</a></li>
    {% if user.is_staff %}
    <li><a href="{% url 'admin:index' %}">Admin</a></li>
    {% endif %}
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'account_login' %}?next={{ request.get_full_path }}">Login</a></li>
    <li><a href="{% url 'account_signup' %}?next={{ request.get_full_path }}">Sign Up</a></li>
    {% endif %}
</ul>
<ul class="sidenav" id="slide-out">
    {% settings_value "NAVBAR" as navbar %}
    {% for heading, items in navbar.items %}
    {% if items|gettype == 'str' %}
    <li >
        <a href="{{ items }}" class="sidenav-close">{{ heading }}</a>
    </li>
    {% elif items|gettype == 'dict' %}
    <li class="divider"></li>
    <li>
        {% for item, path in items.items %}
            <li>
                <a href="#!">{{ item }}</a>
            </li>
        {% endfor %}
    </li>
    {% else %}
    {{ items|gettype }}
    {% endif %}
    {% endfor %}
    <li class="divider"></li>
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'profile_redirect' %}" class="sidenav-close">Profile</a></li>
    <li><a class="link" href="{% url 'timetable_list' %}">Timetable</a></li>
    {% if user.is_staff %}
    <li><a href="{% url 'admin:index' %}" class="sidenav-close">Admin</a></li>
    {% endif %}
    <li class="divider"></li>
    <li><a href="{% url 'account_logout' %}" class="sidenav-close">Logout</a></li>
    {% else %}
    <li><a href="{% url 'account_login' %}?next={{ request.get_full_path }}" class="sidenav-close">Login</a></li>
    <li><a href="{% url 'account_signup' %}?next={{ request.get_full_path }}" class="sidenav-close">Sign Up</a></li>
    {% endif %}
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="{% url 'index' %}">
            <div class="brand-logo">
                <img class="img-logo" src="{% static 'core/img/logo-dark-transparent.png' %}">
                <!-- <span>Metropolis</span> -->
            </div>
        </a>
            
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="zmdi zmdi-menu"></i></a>
        <ul class="right hide-on-med-and-down">
            {% settings_value "NAVBAR" as navbar %}
            {% for heading, items in navbar.items %}
            {% if items|gettype == 'str' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ items }}">{{ heading }}</a>
            </li>
            {% elif items|gettype == 'dict' %}
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ heading }}<i class="zmdi zmdi-caret-down"></i></a>
                <ul id="dropdown1" class="dropdown-content">
                    {% for item, path in items.items %}
                        <li>
                            <a href="#!">{{ item }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            {{ items|gettype }}
            {% endif %}
            {% endfor %}
            <li><a class="dropdown-trigger" href="#!" data-target="dropdownAcc">
                {% if request.user.is_authenticated %}
                Account
                {% else %}
                Login/Sign Up
                {% endif %}
                <i class="zmdi zmdi-caret-down"></i>
            </a></li>
            <script>
                $(document).ready(function(){
                    $('.dropdown-trigger').dropdown();
                    $('.sidenav').sidenav();
                });
            </script>
        </ul>
    </div>
</nav>
<a id="back" onclick="goBack()">
    <i class="zmdi zmdi-arrow-left"></i>
</a>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% block main %}
{% endblock %}

<div class="footer">
    <div class="footer-title-par">
        <p class="footer-title">William Lyon Mackenzie's online hub for announcements, calendar events, clubs, and timetables.</p>
    </div>
    <hr class="footer-bar">
    <div class="foooter-icon-par">
        <a class="footer-name" href="https://github.com/wlmac/metropolis" rel="noreferrer" target="_blank">
            <i class="footer-icon zmdi zmdi-hc-3x zmdi-github"></i>
        </a>
    </div>
</div>

{% endblock %}


