{% extends 'core/base.html' %}
{% load static %}
{% load timetable_tags %}

{% block main %}
{% if request.user.is_anonymous %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Welcome to Metropolis</h5>
        <p class="card-text">Please register or log in to use the app.</p>
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Dashboard</h5>
        <p class="font-italic">WIP</p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block deps %}
{% endblock %}
