{% extends 'core/base.html' %}
{% load link_tags %}
{% load static %}
{% load admin_urls %}
{% load i18n %}

{% block deps %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/secondary.css' %}">
{% block hd %}
{% endblock %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="secondary-nav-wrapper">
        <ul class="secondary-nav">

        <!-- <span>{{ available_apps }}</span> -->

        <!-- {% if available_apps %}
            {% for app in available_apps %}
            {% if user.is_superuser %}
              <hr class="applist-divider">
            {% endif %}

            <div class="app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
              <table>
                {% if not user.is_superuser %}
                <caption>
                  <a href="{{ app.app_url }}" class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
                </caption>
                <hr class="applist-divider">

                {% endif %}

                {% for model in app.models %}
                  <tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
                    {% if model.admin_url %}
                      <th scope="row"><a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>{{ model.name }}</a></th>
                    {% else %}
                      <th scope="row">{{ model.name }}</th>
                    {% endif %}

                    {% if model.add_url %}
                      {% if user.is_superuser %}
                      <td><a href="{{ model.add_url }}"><i class="zmdi zmdi-plus zmdi-hc-lg" aria="Add a new {{ model.name }}"></i></a></td>
                      {% else %}
                      <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
                      {% endif %}
                    {% else %}
                      <td></td>
                    {% endif %}

                    {% if model.admin_url and show_changelinks %}
                      {% if model.view_only %}
                        <td><a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a></td>
                      {% else %}
                        <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
                      {% endif %}
                    {% elif show_changelinks %}
                      <td></td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endfor %}
        {% else %}
          <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
        {% endif %} -->









            <li>
                <a class="link" href="{% url 'profile_redirect' %}">Profile</a>
            </li>
            <li>
                <a class="link" href="{% url 'timetable_list' %}">Timetable</a>
            </li>
            <li>
                <a class="link" href="">Settings</a>
            </li>
            {% if not user.organizations_owning.all.empty %}
            <hr>
            {% if user.perms.core.announcement_add %}
            <li>
                <a class="link" href="{% url 'admin:core_announcement_add' %}">Add user</a>
            </li>
            {% endif %}
            {% if user.perms.core.event_add %}
            <li>
                <a class="link" href="{% url 'admin:core_event_add' %}">Add event</a>
            </li>
            {% endif %}
            {% for organization in user.organizations_owning.all %}
            <li>
                <a class="link" href="{% url 'admin:core_organization_change' organization.pk %}">{{ organization.name }}</a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</div>
{% endblock %}