.card-body label:not(#id_courses label){
    color: var(--link-colour) !important;
    font-size: 110%;
    font-weight: 500;
}

.card-body h5{
    font-weight: bold;
}

.card-period {
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    border-radius: 10px;
    margin-block: 20px;
}

.card-period .card-body {
    display: grid;
    gap: 10px;
}

.card-period .card-body .full-span {
    grid-column: 1 / span 2;
}

.card-period .card-body .field-wrapper {
    grid-row: auto;
}

@media screen and (max-width: 600px) {
    .card-period .card-body{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .card-period .card-body .field-wrapper {
        grid-column: 1 / span 2;
    }
}

.select2{
    width: 100% !important;
}

.select2-selection{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--light-grey) !important;
}
.select2-selection__choice {
    background-color: var(--bg-grey) !important;
}
.select2-selection__choice__remove {
    border: none !important;
}
.select2-results__option{
    font-size: 110%;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
}
