.card-body label:not(#id_courses label){
    color: var(--link-colour) !important;
    font-size: 110%;
    font-weight: 500;
}

.card-body h5{
    font-weight: bold;
}

.select2{
    width: 100% !important;
}

.select2-selection{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--light-grey) !important;
}
.select2-selection__choice {
    background-color: var(--bg-grey) !important;
}
.select2-selection__choice__remove {
    border: none !important;
}
.select2-results__option{
    font-size: 110%;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
}
