.timetable-add-container {
    display: flex;
}

.mb-3 {
    border-radius: 5px;
}

.card-top {
    padding: 0 10px;
}

.timetable-details {
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    border-radius: 10px;
    margin-block: 20px;
}

.table thead th {
    padding: 10px 5px;
    padding-top: 0;
    border-bottom: 3px solid var(--line-grey);
    color: var(--dark-colour);
}

.table tbody td, .table tbody th {
    padding: 10px 5px;
    border-bottom: 1px solid var(--line-grey);
}

.card-body label {
    color: var(--link-colour) !important;
    font-size: 110%;
    font-weight: 500;
}

.card-body h5 {
    font-weight: bold;
}

select{
    display: inline !important;
}
