.timetable-add-container {
    padding: 15px 0;
}

details > summary::marker {
    color: var(--mid-grey);
    -webkit-box-shadow: 1px 1px 2px var(--dark-grey);
            box-shadow: 1px 1px 2px var(--dark-grey);
    float: right;
    cursor: pointer;
}

.mb-3 {
    padding: 15px 0;
    border-radius: 5px;
}

.timetable-details {
    padding: 15px;
    background-color: var(--light-grey);
    border-radius: 10px;
    margin: 20px;
}

.table thead th {
    border-bottom: 3px solid var(--line-grey);
    color: var(--dark-colour);
}

.table tbody td, .table tbody th {
    border-bottom: 1px solid var(--line-grey);
}

.card-body label {
    color: var(--link-colour) !important;
    font-size: 110%;
    font-weight: 500;
}

.card-body h5 {
    font-weight: bold;
}

#id_term {
    background-color: #eaeaea;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#id_term:focus {
    outline: none;
    border-color: lightblue;
    border-width: 2px;
    border-style: solid;
}

select{
    display: inline !important;
}