.timetable-add-container {
    padding: 15px 0;
}

details > summary::marker {
    color: var(--mid-grey);
    box-shadow: 1px 1px 2px var(--dark-grey);
    float: right;
    cursor: pointer;
}

.mb-3 {
    padding: 15px 0;
    border-radius: 5px;
}

.timetable-details {
    padding: 15px;
    background-color: var(--light-grey);
    border-radius: 10px;
    margin: 20px;
}

.table thead th {
    border-bottom: 3px solid var(--line-grey);
    color: var(--dark-blue);
}

.table tbody td, .table tbody th {
    border-bottom: 1px solid var(--line-grey);
}

.card-body label {
    color: var(--link-blue) !important;
    font-size: 110%;
    font-weight: 500;
}

.card-body h5 {
    font-weight: bold;
}

.select2-search__field{
    border-radius: 5px !important;
    height: 2.5rem !important;
    background-color: var(--light-grey) !important;
}

.select2-selection{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--light-grey) !important;
}

.select2-results__option{
    font-size: 110%;
    transition-duration: 0.2s;
}