{% extends 'core/base.html' %}
{% load link_tags %}

{% block main %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ organization.name }}</h5>
        <p class="card-text">{{ organization.description }}</p>
    </div>
</div>

{% if user.is_authenticated %}
<div class="card">
    <div class="card-header">
        Membership
    </div>
    <form method="POST" class="card-body">
        {% csrf_token %}
        {% if organization not in request.user.organizations.all %}
        <h5 class="card-title">Subscribe to announcements from {{ organization.name }}</h5>
        <button type="submit" class="btn btn-primary">Join</button>
        {% else %}
        <h5 class="card-title">Unsubscribe to announcements from {{ organization.name }}</h5>
        <button type="submit" class="btn btn-primary">Leave</button>
        {% endif %}
    </form>
</div>
{% endif %}
{% endblock %}
