{% extends 'core/base.html' %}
{% load link_tags %}
{% load static %}

{% block deps %}
    <link rel="stylesheet" href="{% static 'core/css/club-list.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'core/css/detail.css' %}"> -->
{% endblock %}

{% block main %}
<div class="container">
    <div class="card-container">
        <div class="legend">
            <div class="legend-items">
                <div class="green-square"></div>
                <span>Open Membership</span>
            </div>
            <div class="legend-items">
                <div class="yellow-square"> </div>
                <span>Accepting Applications</span>
            </div>
            <div class="legend-items">
                <div class="red-square"> </div>
                <span>Closed Applications</span>
            </div>
        </div>
        <div class="cards">
            {% for organization in organizations %}
                <div class="card {% if not organization.is_open %} red-status {% elif organization.applications_open %} yellow-status {% else %} green-status {% endif %}">
                    <div class="valign-wrapper">
                        <div class="club-logo">
                            {% if organization.icon %}
                                <img class="circle" src="{{ organization.icon.url }}">
                            {% else %}
                                <img class="circle" src="https://via.placeholder.com/100">
                            {% endif %}
                        </div>
                        <h1 class="title link">
                            {{ organization.slug|organization }}
                        </h1>
                    </div>

                    <hr>
                    <div class="club-description">
                        <p>{{ organization.bio }}</p>
                    </div>
                    <div class="tag-section">
                        {% for tag in organization.tags.all %}
                        <p class="tag" style="background-color:{{tag.color}}">{{tag}}</p>
                        {% endfor %}

                </div>
            </div>
            {% empty %}
                <div class="message">There are no clubs open at this time. Check back in a bit!</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
