{% extends 'core/secondary.html' %}
{% load static %}
{% load timetable_tags %}
{% load admin_urls %}
{% block content %}
    <div class="white-bg">
        <div class="card-body">
            <form method="post">
                <h5 class="card-title">
                    <strong>Edit timetable for {{ object.term.name }}</strong>
                </h5>
                {% csrf_token %}
                {{ form }}
                {% if not object.term.is_frozen %}
                    <a href="{% url 'course_create' object.term.pk %}?next={{ request.path }}">Add a missing course</a>
                    <br>
                {% endif %}
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <a href="{% url 'timetable_list' %}"
                       class="btn btn-primary"
                       role="button"
                       aria-pressed="true">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block hd %}
    <link rel="stylesheet" href="{% static 'core/css/timetable/main.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/timetable/edit.css' %}" />
    <script>
        $(function(){
            $("#id_courses").attr("data-minimum-input-length", 0).select2({
                minimumInputLength: 0
            })
        })
    </script>
    {{ form.media.css }}
    {{ form.media.js }}
{% endblock %}
