{% extends 'core/secondary.html' %}
{% load static %}
{% load timetable_tags %}
{% load admin_urls %}
{% block content %}
    <div class="white-bg">
        <div class="card-body">
            <form method="post">
                <h5 class="card-title">
                    <strong>{% if timetable_created %}Edit{% else %}Add{% endif %} Timetable</strong>
                </h5>
                {% csrf_token %}
                
                <div class="field-wrapper">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>

                <h5>
                    <strong>Courses</strong>
                </h5>
                <p>Enter your course names or course codes for a Day 1 schedule</p>

                {{ course_formset.management_form }}
                {% for form in course_formset %}
                    <div class="card-period">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {{ form.non_field_errors }}

                        <div class="card-body">
                            <div class="field-wrapper full-span">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                                {{ form.name.errors }}
                            </div>
                            <div class="field-wrapper">
                                {{ form.room.label_tag }}
                                {{ form.room }}
                                {{ form.room.errors }}
                            </div>
                            <div class="field-wrapper">
                                {{ form.teacher.label_tag }}
                                {{ form.teacher }}
                                {{ form.teacher.errors }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary mr-2">
                        {% if timetable_created %}Create{% else %}Update{% endif %}
                    </button>
                    <a href="{% url 'timetable_list' %}"
                       class="btn btn-primary"
                       role="button"
                       aria-pressed="true">Cancel</a>
                </div>

                {% if course_formset.errors %}
                    <ul class="errorlist">
                        Please correct the errors above.
                    </ul>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
{% block hd %}
    <link rel="stylesheet" href="{% static 'core/css/timetable/main.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/timetable/edit.css' %}" />
{% endblock %}
