{% extends 'core/secondary.html' %}
{% load static %}
{% load timetable_tags %}
{% load admin_urls %}
{% block content %}
    <div class="white-bg">
        {% if timetable %}
            <div class="mb-3">
                <div class="card-top">
                    <span class="card-title"><strong>{{ timetable.title }}</strong></span>
                </div>
                <div class="card-body timetable-details"
                        id="card-body">
                    {{ timetable|render_timetable }}
                </div>
            </div>
        {% endif %}
        <div class="timetable-add-container">
            <div class="card-body">
                <div class="mt-3">
                    <a href="{% url 'timetable_edit' %}" class="btn mr-2" style="letter-spacing: 0">
                        {% if timetable %}Edit{% else %}Add{% endif %} Timetable
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block hd %}
    <link rel="stylesheet" href="{% static 'core/css/timetable/main.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/timetable/list.css' %}" />
{% endblock %}
