.row {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
}

.col{
    float: none !important;
    width: 100%;
}

select {
    display: revert;
    margin: 10px 0px;
}

/*input[type="text"], input[type="password"] {
    box-shadow: none !important;
    border: none !important; 
    background-color: #dbdbdb !important;
}*/

.login, .signup {
    width: 90%;
}

.graphic {
    background-size: cover;
    background-position: center center;
}

.account-art{
    object-fit: cover;
}

.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5%;
    height: 100%;
}

.tab-wrapper, .messages {
    width: 90%;
}

.tab-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 10px 20px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.col.s6 {
    padding: 0px;
}

.tab {
    text-align: center;
    border-bottom: 2px solid var(--line-grey);
    padding: 3% 0;
    font-weight: bold;
    color: var(--line-grey);
}

.tab:hover {
    border-bottom: 2px solid var(--mid-blue);
    color: var(--mid-blue);
    -webkit-transition: border 0.1s linear, color 0.1s linear;
    -o-transition: border 0.1s linear, color 0.1s linear;
    transition: border 0.1s linear, color 0.1s linear;
}

.current {
    border-bottom: 2px solid var(--link-blue) !important;
    color: var(--link-blue) !important;
}

.login-btn {
    margin-top: 10px;
    width: 100%;
}

.wrapper > .col {
    padding: 0;
}

.grad-year {
    color: var(--mid-grey);
    margin-bottom: 10px;
}

.responsive-img {
    height: 100% !important;
}