.row {
    display: flex;
    margin: 0px;
}

select {
    display: revert;
    margin: 10px 0px;
}

/*input[type="text"], input[type="password"] {
    box-shadow: none !important;
    border: none !important; 
    background-color: #dbdbdb !important;
}*/

.login, .signup{
    width: 90%;
}

input{
    color: var(--near-black);
}

.input-field input:focus {
    color: var(--dark-blue);
    border-bottom: 1px solid var(--link-blue) !important;
    box-shadow: 0 1px 0 0 var(--link-blue) !important;
}

label {
    color: var(--mid-grey) !important;
}

.graphic {
    background-size: cover;
    background-position: center center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    height: 100%;
}

.tab-wrapper, .messages{
    width: 90%;
}

.messages{
    color: var(--status-green);
    margin-bottom: 15px;
}

.messages > li{
    margin: 5px 0px;
}

.tab-wrapper {
    display: flex;
    margin: 0px 10px 20px;
    display: flex;
    align-items: center;
}

.col.s6{
    padding: 0px;
}

.tab {
    text-align: center;
    border-bottom: 2px solid var(--line-grey);
    padding: 3% 0;
    font-weight: bold;
    color: var(--line-grey);
}

.current {
    border-bottom: 2px solid var(--link-blue);
    color: var(--link-blue);
}

.btn {
    margin-top: 30px;
    display: block;
    width: 100%;
    background-color: var(--link-blue);
}

.btn:hover{
    background-color: var(--dark-blue)
}

.wrapper > .col {
    padding: 0;
}

.grad-year{
    color: var(--mid-grey);
    margin-bottom: 10px;
}

.errorlist{
    color: var(--status-red);
    margin: 0.5em 0px 1em;
}