@import url(fonts.css);

:root{
  --primary: var(--link-blue);
  --default-button-bg: var(--link-blue);
  --button-bg: var(--mid-blue);
  --link-fg: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #79aec8;
    --secondary: #417690;
    --accent: #f5dd5d;
    --primary-fg: #fff;

    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;

    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);

    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);

    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;

    --hairline-color: #e8e8e8;
    --border-color: #ccc;

    --error-fg: #ba2121;

    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;

    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4; /* E.g. selected table cells */
    --selected-row: #ffc;

    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;

    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
  }
}

.content{
  background-color: white;
  max-width: 1200px !important;
  margin: auto !important;
  margin-top: 20px !important;
}

#main{
  background-color: var(--bg-grey);
  font-family: 'Roboto', sans-serif;
}

#footer{
  padding: 0px;
}

#nav-sidebar{
  background-color: white;
  padding: 20px;
  margin-right: 20px;
  margin-left: -316px;
  left: -316px;
}

#toggle-nav-sidebar, #nav-sidebar{
  margin-top: 20px;
  margin-bottom: 20px;
}

.main.shifted{
  padding-right: 20px;
  padding-bottom: 30px;
}

#recent-actions-module{
  padding: 20px;
}

#header{
  display:none !important;
}

.messagelist {
  margin: 20px !important;
}

.messagelist > li > .zmdi{
  padding: 5px;
  margin-left: auto;
}

#content{
  background-color: white;
  /*width: 100% !important;*/
  padding: 40px !important;
}

#content-related{
  margin-left: auto !important;
  margin-right: 0px !important;
}

tr{
  background: none !important;
  border: none !important;
}

td, th {
  border: none !important;
  padding: 8px 0px !important;
}

.dashboard #content {
  width: auto !important;
}

.module {
  margin: 0px !important;
}

.module > table > tbody > tr > th > a{
  font-weight: 500 !important;
  color: var(--link-blue);
}

.module > table > tbody > tr > td > a{
  font-weight: 500 !important;
  color: var(--mid-grey);
}

.applist-divider{
  margin: 10px 0;
}

.btn-light{
  width: 100%;
  background-color: var(--light-grey);
}

.btn-light:hover, .btn-light:active {
  background-color: var(--line-grey);
}

.form-row{
  margin-top: 5px;
}

.actions > label, .checkbox-row {

  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.form-row > div > .related-widget-wrapper, .actions, .messagelist > li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-row > div > select{
  width: auto;
}

.checkbox-row{
  padding: 10px 0px;
}

.vCheckboxLabel{
  margin: 0px !important;
  padding: 0 0 0 5px !important;
}

.submit-row{
  margin: 20px 0 20px !important;
}

textarea {
  height: auto !important;
}

.submit-row a.deletelink {
  height: auto;
}

.form-row div.help {
  /*padding-left: 0px !important;*/
}

*, *:before, *:after {
  box-sizing: initial !important;
}

.aligned label {
  width: 160px !important;
}