.headers {
    overflow: hidden;
    background-color: var(--dark-blue);
    padding: 20px;
    padding-left: 40px;
}
.headers ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}
.headers li {
    font-size: 1rem;
}
.header {
    cursor: pointer;
    text-align: center;
    padding: 0 30px;
    padding-bottom: 5px;
    font-weight: bold;
    color: var(--link-blue);
    border-bottom: 2px solid var(--link-blue);
    display: inline;
}
.header:hover {
    color: var(--mid-blue);
    border-color: var(--mid-blue);
    -webkit-transition: color 0.1s linear, border-color 0.1s linear;
    -o-transition: color 0.1s linear, border-color 0.1s linear;
    transition: color 0.1s linear, border-color 0.1s linear;
}
.active {
    color: var(--highlight-blue) !important;
    border-color: var(--highlight-blue) !important;
}
.card-container {
    background-color: white;
    padding: 40px;
    min-height: calc(100vh - 232.5px);
}
.title {
    font-weight: bold;
    margin: 0;
    margin-top: 8px;
    font-size: 3rem;
    overflow-wrap: anywhere;
}
.card-authors {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
    color: var(--line-grey);
}
.card-authors-image {
    height: 32px;
    margin-right: 10px;
}
.card-authors-text br {
    display: none;
}
.circle {
    -o-object-fit: cover;
       object-fit: cover;
    height: 32px;
    width: 32px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.card-authors a {
    font-weight: bold;
}
hr {
    border: 0px solid var(--light-grey);
    border-top-width: 2px;
}
.card-body p {
    line-height: 1.6rem;
}
.card-body > h1 {
    font-size: 3rem;
    margin: 2rem 0 1.2rem 0;
}
.card-body > h2 {
    font-size: 2.66rem;
    margin: 1.77rem 0 1rem 0;
}
.card-body > h3 {
    font-size: 2.3rem;
    margin: 1.55rem 0 0.93rem 0;
}
.card-body > h4 {
    font-size: 2rem;
    margin: 1.33rem 0 0.8rem 0;
}
.card-body > h5 {
    font-size: 1.75rem;
    margin: 1.16rem 0 0.7rem 0;
}
.card-body > h6 {
    font-size: 1.5rem;
    margin: 1rem 0 0.6rem 0;
}
.card-body > * {
    overflow-wrap: anywhere;
}
.card-body > *:first-child {
    margin-top: 0;
}
.card-body > *:last-child {
    margin-bottom: 0;
}
.card-body .markdown-embed, .card-body img {
    width: 100%;
}
.tag-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0;
}
.tag {
    padding: 2px 7px !important;
    margin: 3px 6px 3px 0px !important;
    background-color: lightblue;
    border-radius: 0.25rem;
    color: var(--dark-grey);
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
}
@media screen and (max-width: 600px) {
    .headers {
        padding: 20px;
    }
    .headers ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .headers li {
        font-size: 0.9rem;
    }
    .header {
        padding: 0 20px;
        padding-bottom: 5px;
    }
    .card-container {
        padding: 20px;
        min-height: calc(100vh - 163px);
    }
    .title {
        font-size: 2rem;
    }
    .card-authors-image {
        margin-right: 10px;
    }
    .card-authors-text br {
        display: block;
    }
    .card-authors-text dot {
        display: none;
    }
    .tag-section {
        zoom: 0.8;
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
    }
}