:root{
    /*--white: #ffffff;*/
    --white: #ffa500;
    --text-grey: #fafafa;
    --bg-grey: #f3f3f3;
    --light-grey: #efefef;
    --line-grey: #b7b7b7;
    --mid-grey: #939393;
    --dark-grey: #434343;
    --near-black: #0b0b0b;
    --black: #000000;

    /*--dark-blue: #073763;
    --link-blue: #3a6a96;
    --mid-blue: #6e9bc4;
    --highlight-blue: #e7f2fb;*/
    --dark-blue: #262626;
    --link-blue: #ff901a;
    --mid-blue: #ffa94d;
    --highlight-blue: #ffce99;
    /*--gold: ;*/
    --status-red: #e85856;
    --status-yellow: #ebc942;
    --status-green: #5cc478;
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15px;
    background-color: var(--bg-grey);
}

/*@media (prefers-color-scheme: dark) {
    :root{
        --white: #000000;
        --text-grey: #0b0b0b;
        --bg-grey: #434343;
        --light-grey: #939393;
        --line-grey: #b7b7b7;
        --mid-grey: #efefef;
        --dark-grey: #f3f3f3;
        --near-black: #fafafa;
        --black: #ffffff;

        --dark-blue: #073763;
        --link-blue: #3a6a96;
        --mid-blue: #6e9bc4;
        --highlight-blue: #e7f2fb;
        --status-red: #e85856;
        --status-yellow: #ebc942;
        --status-green: #5cc478;
        
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.15px;
        background-color: var(--dark-grey);
    }
}*/

html {
    height: 100%;
}
body {
    min-height: 100%;
}
.container {
    padding: 50px 0px;
    min-height: calc(100vh - 64px);
}

p{
    color: var(--near-black);
}

select{
    display: block;
}

.nav-wrapper{
    background-color: var(--dark-blue);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.sidenav{
    padding-top: 20px;
}

.nav-link {
    color: var(--white);
}

.brand-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: auto;
    height: 80%;
    padding: 0px 15px !important;
    margin-top: 8px;

    font-size: 1.25rem !important;
    font-weight: 500;
    -o-object-fit: contain;
       object-fit: contain;
}

.img-logo{
    height: 100%;
    width: auto;
}

.dropdown-trigger{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--white);
}

.dropdown-trigger > i{
    margin-left: 10px;
}

.dropdown-content{
    height: auto !important;
    top: 100% !important;
}

.sidenav{
    height: 100% !important;
}

.dropdown-content, .sidenav{
    background-color: var(--dark-blue);
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
}

.dropdown-content > li:not(.divider):hover, .sidenav > li:not(.divider):hover{
    background-color: var(--dark-blue);
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
}

.dropdown-content > li > a, .sidenav > li > a{
    color: var(--mid-blue);
    /*width: 100%;*/
}

.dropdown-content> li > a:hover, .sidenav > li > a:hover{
    color: var(--white);
    -webkit-transition: color linear 0.15s;
    -o-transition: color linear 0.15s;
    transition: color linear 0.15s;
}

.dropdown-content > .divider, .sidenav > .divider{
    background-color: var(--link-blue);
    margin: 10px 15px;
    width: calc(100% - 30px);
}

.link{
    color: var(--link-blue);
    -webkit-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
}

.link:hover {
    color: var(--dark-blue);
}

.link-light{
    color: var(--white);
    -webkit-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
}

.link-light:hover {
    color: var(--highlight-blue);
}

.checkbox-blue[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid var(--link-blue);
    background-color: var(--link-blue);
}

.btn{
    background-color: var(--link-blue) !important;
}

.btn:hover, .btn:active {
    background-color: var(--dark-blue) !important;
}

.errorlist {
    color: var(--status-red);
    margin: 0.5em 0px 1em;
}

.messages {
    color: var(--status-green);
    margin-bottom: 15px;
}

.messages > li {
    margin: 5px 0px;
}

input {
    color: var(--near-black);
}

.input-field input:focus {
    color: var(--dark-blue);
    border-bottom: 1px solid var(--link-blue) !important;
    -webkit-box-shadow: 0 1px 0 0 var(--link-blue) !important;
            box-shadow: 0 1px 0 0 var(--link-blue) !important;
}

label {
    color: var(--mid-grey) !important;
}

.white-bg{
    background-color: var(--white);
    padding: 30px;
    border-radius: 3px;
    width: 75%;
}

.install-popup{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    background-color: var(--white);
}

.install-popup > *{
    display: block;
}

.install-popup > img{
    display: block;
    /*height: 64px;*/
    height: 48px;
    margin: none;
    width: auto;
    background-color: var(--dark-blue);
    border-radius: 5px;
    /*-webkit-box-shadow: 2px 2px 5px 3px #ddddddaa;
            box-shadow: 2px 2px 5px 3px #ddddddaa;*/
    -webkit-box-shadow: 2px 2px 5px 3px #505050aa;
            box-shadow: 2px 2px 5px 3px #505050aa;
}

.install-popup > span{
    margin: 0px 15px;
    font-size: 16px;
}

.install-popup > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.install-popup > div > .btn{
    width: auto;
    border-radius: 25px;
    margin-bottom: 5px;
    font-size: 12px;
}

.install-popup > div > a:not(.btn){
    /*color: var(--line-grey);*/
    color: var(--mid-grey);
    font-size: 12px;
}

.install-popup > div > a:not(.btn):hover{
    color: var(--mid-grey);
    -webkit-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
    cursor: pointer;
}

.markdown-embed {
    width:40rem;
    height:25rem;
}

.footer {
    /*height: 230px;*/
    width: 100%;
    background-color: var(--dark-blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
}

.footer-title {
    margin-top: 25px;
    font-size: 18;
    color: var(--light-grey);
    text-align: center;
    padding: 0px 60px;
}

.footer-title-par {
    margin: 0px auto;
    padding: 40px 0px 10px;
}

.footer-bar {
    background-color: var(--mid-blue);
    height: 0;
    padding-top: .2vh;
    width: 10vw;
    margin: 15px auto 0px;
    border-top-width: 0px !important;
}

.foooter-icon-par {
    margin-top: 10px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-icon {
    height: 4vh;
    width: 4vh;
    margin: 2vh calc(0.25vh + 0.25vw);
    opacity: 0.68;
}

.footer-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.footer-name {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: var(--light-grey);
    margin: 0px 20px;
}

/* .footer-name:hover {
    text-decoration: none;
    color: var(--red0); */
    /*opacity: 0.8;*/
/* } */

.footer-icon {
    width: 100% !important;
    height: 100% !important;
}

#back{
    position: fixed;
    z-index: 100;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
#back .zmdi {
    font-size: 30px;
    font-weight: bold;
}
@media screen and (display-mode: standalone) {
    #back {
        display: flex;
    }
}
@media screen and (max-width: 800px) {
    .markdown-embed {
        width:100%;
        height:25rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 20px 0;
        min-height: calc(100vh - 56px);
    }
    .markdown-embed {
        width: 100%;
        height: 16rem;
    }
    #back {
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
    #back .zmdi {
        font-size: 20px;
    }
}