.club-banner {
    border-bottom: 5px black solid;
    padding: 0 !important;
    height: 18rem !important;
    -o-object-fit: cover;
       object-fit: cover;
}

.club-detail {
    background-color: white;
    padding: 40px;
}

/* .club-logo-out {
    max-width: 17rem;
} */

.club-logo {
    overflow: visible; 
    position: relative;
    padding-bottom: 100%; 
}
.club-logo img {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.circle {
    height: 100%;
    width: 100%;
}
.club-name {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: calc(16px + 2vw);
}

.club-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tag-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0;
}

.tag {
    padding: 2px 7px !important;
    margin: 3px !important;
    background-color: lightblue;
    border-radius: 0.25rem;
    color: var(--dark-grey);
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
}

.member-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: end; 
        -ms-flex-pack: end; 
            justify-content: flex-end;
}

.member-button > .join{
    background-color: var(--link-blue) !important;
}

.member-button > .leave{
    background-color: var(--mid-grey) !important;
}

.member-button button {
    width: auto !important;
}

.bio {
    padding-left: 4%;
    border-left: black 3px solid;
    margin: 0;
}
.description > * {
    overflow-wrap: anywhere;
}

.link-section {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: end; 
        -ms-flex-pack: end; 
            justify-content: flex-end;
}

.link-section > div > li > i{
    margin-right: 6px;
    color: var(--link-blue);
    line-height: inherit;
}

.link-section > div > li > a {
    color: var(--link-blue);
}

.circle-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;  
    margin-right: 4%;
}

li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.member {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
    background-color: #F8F8F8;
    padding: .5rem;
    border-radius: 8px;
}

.member-image {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.member-text {
    color: var(--dark-grey);
    font-size: 1rem;
}

hr {
    border: 0px solid var(--light-grey);
    border-top-width: 2px;
}

@media screen and (max-width:600px) {
    .club, .club-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .club-banner {
        display: none;
    }
    .club-logo {
        /* width: 5rem; */
        /* text-align: center;  */
    }
    .club-name {
        margin: 0;
        text-align: center; 
        font-size: 3rem;
    }
    .tag-section {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 2%;
    }
    .member-button {
        margin-top: 5%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; 
    }
    .club-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .link-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .bio {
        border: none;
        padding: 0;
        margin-top: 1rem;
    }
}