.club-banner {
    border-bottom: 5px black solid;
    padding: 0 !important;
    height: 18rem !important;
    object-fit: cover;
}

.club-logo {
    margin-left: 0px !important;
    padding: 0px !important;
    width: 15rem !important;
}

.club-name {
    margin-bottom: 3%;
    font-weight: 600;
}

.club-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-section {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

.tag {
    padding: 2px 7px !important;
    margin: 3px !important;
    background-color: lightblue;
    border-radius: 0.25rem;
    color: var(--dark-grey);
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
}

.member-button {
    display: flex; 
    justify-content: flex-end;
}

.member-button > .join{
    background-color: var(--link-blue) !important;
}

.member-button > .leave{
    background-color: var(--mid-grey) !important;
}

.description {
    padding-left: 5%;
    border-left: black 3px solid;
    margin: 0;
    font-weight: 400;
}

.link-section {
    margin: 0;
    display: flex; 
    justify-content: flex-end;
}

.link-section > div > li > i{
    margin-right: 6px;
    color: var(--link-blue);
    line-height: inherit;
}

.link-section > div > li > a {
    color: var(--link-blue);
}

.circle-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;  
    margin-right: 4%;
}

li {
    display: flex;
    align-items: center;
}

@media screen and (max-width:600px) {
    .club, .club-header {
        display: flex;
        flex-direction: column;
    }
    .club-banner {
        display: none;
    }
    .club-logo {
        text-align: center; 
    }
    .club-name {
        margin: 0;
        text-align: center; 
    }
    .tag-section {
        justify-content: center;
        margin-top: 2%;
    }
    .member-button {
        margin-top: 5%;
        justify-content: center; 
    }
    .club-info {
        display: flex;
        flex-direction: column-reverse;
    }
    .link-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description {
        border: none;
        padding: 0;
        margin-top: 1rem;
    }
}

