.banner{
    width: 100%;
    background-color: white;
    position: relative;
    font-family: Poppins, serif;
}

.banner .background{
    height: 100%;
    width: 100%;
}

.banner .background img{
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .banner-message{
    margin-top: 1em;
    font-size: 1em;
    color: var(--banner-text);
}

.banner .next-class{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.next-class .schedule-course{
    font-size: 5em;
    font-weight: bold;
    color: var(--banner-text);
    margin-bottom: 0;
}

.next-class .schedule-description{
    font-size: 1.5em;
    color: var(--banner-text);
}

.schedule-today-overlay{
    position: absolute;
    left: 0;
    bottom: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.schedule-today-overlay .schedule-cycle{
    color: var(--banner-darker);
    font-weight: bolder;
    margin-bottom: 0;
}

.schedule-today-courses{
    color: var(--banner-text);
    padding-left: 10px;
    border-left: solid var(--banner-darker) 3px;
    font-weight: normal;
}

.schedule-today-courses [data-active]{
    color: var(--banner-darker);
    font-size: 1.05em;
}

@media screen and (max-width: 992px){
    .next-class .schedule-course{
        font-size: 4em;
    }
    .schedule-today-overlay .schedule-cycle{
        font-size: 1.8em;
    }
    .schedule-today-overlay{
        left: 0;
        right: 0;
    }
    .schedule-today-overlay-container{
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .schedule-today-overlay .schedule-cycle{
        margin-right: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }
}