.map-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 2vw,5vw,10vw,5vw; */
}


.map { 
    width: 80%; 
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.switch-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw; 
}

.switch>label{
  font-size: 1.4rem !important;
  font-family: "Poppins", sans-serif !important;
  color: #073763 !important; 
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    text-align: center ; 
}

.legend-container{
    display: flex;
    flex-direction: row;
    width:80%; 
    height: 10vh;
}

.legend{
    flex: 1; 
    padding: 5vh 20px 20px 20px; 
    text-align: center;
    /* align-items: center; */
    justify-content: center;
}