.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content {
    min-height: calc(100vh - 220px);
}
.btn-wrapper {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.btn {
    margin: 0 5px;
}
@media screen and (max-width: 600px) {
    .content {
        min-height: calc(100vh - 152px);
    }
}