.wrapper {
    padding: 0;
    height: 100vh;
}
#fade {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #e52925;
    transition: none;
}

.content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
    background-color: white;
}
.scrollable::-webkit-scrollbar {
    display: none;
}
.scrollable {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-wrap: anywhere;
    margin: 0 2rem;
}

.club-detail {
    width: 100%;
    padding: 10px 20px;
}

.right {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.club-header {
    height: 30vh;
    display: flex;
    align-items: center;
}
.club-header-img {
    width: 150px;
    height: 150px;
    margin-left: 12.5px;
    margin-right: 25px;
}

.club-header-text {
    flex: 1;
    height: 100%;

    display: grid;
    place-content: center left;;
}

.club-logo {
    overflow: visible;
    position: relative;
}
.club-logo img {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;

    height: 150px;
    width: 150px;

    vertical-align: middle;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
#club-name {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: calc(16px + 2vw);
    overflow-wrap: anywhere;
    margin-top: 0;
}
#tag-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0;
    max-height: 4.5em;
    overflow: hidden;
}
#tag-section .tag {
    font-size: 1em;
}

.tag {
    padding: 2px 7px !important;
    margin: 3px !important;
    background-color: lightblue;
    border-radius: 0.25rem;
    color: var(--dark-grey);
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
}
#bio {
    padding-left: 4%;
    border-left: black 3px solid;
    margin: 0 2rem;
    margin-bottom: 25px;
    font-size: 1.5em;
}

h3 {
    font-size: calc(16px + 0.8vw);
}
.description > * {
    overflow-wrap: anywhere;
    font-size: 1.5em;
}
.description img {
    width: 100%;
}
.location {
    width: 100%;
    display: flex;
    justify-content: center;
}
.location img {
    width: 100%;
}
hr {
    border: 0px solid var(--light-grey);
    border-top-width: 2px;
    width: 100%;
}
.club-execs p {
    font-size: 1.5em;
    background-color: #F5F5F5;
    padding: 0.75rem;
    border-radius: 8px;
}

#exec-title {
    font-weight: 600;
}

#made-by {
    width: 30em;
    object-fit: contain;
}

#qrcode {
    margin-left: 1rem;
    height: 100%;
}

#qrcode svg {
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#bottom-container {
    margin-top: 10px;
    flex: 1;
    display: flex;
    height: 0%; 

    justify-content: space-around;
    align-items: center;
}

#bottom-container > div {
    display: flex;
    align-items: center;
    height: 100%;
}

#qrcode-text {
    font-size: calc(16px + 1.5vw);
    font-weight: bold;
    width: min-content;
    text-align: center;
}