{% extends 'core/secondary.html' %}
{% load gravatar_tags %}
{% load static %} 

{% block hd %}
<link rel="stylesheet" href="{% static 'core/css/profile/detail.css' %}">
{% endblock %}

{% block content %}
<div class="white-bg">
    <div class="header">
        <img class="circle responsive-img profile-picture" src="{{ profile.email|gravatar_url:100 }}" alt="{{ profile.username }}'s profile picture">
        <div class="name-info">
            <h5 class="full-name">{{ profile.get_full_name }}</h5>
            <h6 class="username">{{ profile.username }}</h6>
        </div>
    </div>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <a href="https://gravatar.com">Edit profile photo</a><br>
        <div>
            <button type="submit" class="btn">Submit</button>
            <a href="{% url 'profile_redirect' %}" class="btn" role="button" aria-pressed="true">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
