{% extends 'core/base.html' %}
{% load link_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/list.css' %}">
<link rel="stylesheet" href="{% static 'core/css/material-icons.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="headers">
        <ul>
            <li class="header" id="all">ALL</li>
            {% if user.is_authenticated %}
            <li class="header" id="my-feed">MY FEED</li>
            {% endif %}
            <li class="header" id="school">SCHOOL</li>
        </ul>
        <script>
            $(document).ready(function() {
                $("#all").addClass("active");
                $(".header").click(function(){
                    $(".header").removeClass("active");
                    $(this).addClass("active");
                    $(".cards").hide();
                    $("#cards-"+this.id).show();
                });
            });
        </script>
    </div>
    <div class="card-container">
        <div class="search-items">
            <div class="input-field">
                <form class="search-form" method="get">
                    <input id="feed-input" type="hidden" name="s" value="">
                    <input id="search-bar" type="text" name="q" placeholder="Search">
                    <button id="search-button" type="submit"><span class="material-icons md-24 md-bold">search</span></button>
                </form>
            </div>
            <!-- to-do: filter tags, DNR
            <div class="filter dropdown">
                <span class="anchor">Filter Tags <span class="material-icons md-24">arrow_drop_down</span></span>
            </div>
            -->
        </div>
        <div class="cards" id="cards-all">
            {% for announcement in feed_all reversed %}
            {% include "./card_snippet.html" %}
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="cards" id="cards-my-feed">
            {% for announcement in feed_my reversed %}
            {% include "./card_snippet.html" %}
            {% endfor %}
        </div>
        {% endif %}
        <script>
            $(document).ready(function(){
                $(".card-body").each(function () {
                    if(Math.round($(this).prop("scrollHeight")) > Math.round($(this).innerHeight())) {
                        $(this).parent().append("<br><a class='expandable' data-expanded='false'>Expand <span class='material-icons md-18'>expand_more</span></a>");
                    }
                });
                $(".cards").hide();
                    $("#cards-all").show();
                $(".expandable").click(function() {
                    if($(this).data("expanded") == "true") {
                        var lineHeight = parseFloat($(this).parent().find(".card-body").css("line-height").replace('px',''));
                        $(this).parent().find(".card-body").animate({"height": lineHeight*3-2}, 200).css("display", "-webkit-box");
                        $(this).data("expanded", "false").text("Expand");
                        $(this).find(".material-icons").remove();
                        $(this).append("<span class='material-icons md-18'>expand_more</span>");
                    } else {
                        $(".card-body").each(function () {
                            if($(this).parent().find(".expandable").data("expanded") == "true") {
                                var lineHeight = parseFloat($(this).parent().find(".card-body").css("line-height").replace('px',''));
                                $(this).animate({"height": lineHeight*3-2}, 200).removeAttr("height").css("display", "-webkit-box");
                                $(this).parent().find(".expandable").data("expanded", "false").text("Expand");
                                $(this).parent().find(".material-icons").remove()
                                $(this).parent().find(".expandable").append("<span class='material-icons md-18'>expand_more</span>");
                            }
                        });
                        var scrollHeight = $(this).parent().find(".card-body").prop("scrollHeight");
                        $(this).parent().find(".card-body").animate({"height": scrollHeight}, 200).removeAttr("height").css("display", "block");
                        $(this).data("expanded", "true").text("Collapse");
                        $(this).find(".material-icons").remove();
                        $(this).append("<span class='material-icons md-18'>expand_less</span>");
                    }
                });
            });
        </script>
    </div>
</div>
{% endblock %}
