{% extends 'core/base.html' %}
{% load link_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/announcement-list.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="headers">
        <ul>
            <li class="header" id="all">ALL</li>
            {% if user.is_authenticated %}
            <li class="header" id="my-feed">MY FEED</li>
            {% endif %}
            {% for feed_custom in feeds_custom %}
            <li class="header" id="{{feed_custom.0.name|lower}}">{{feed_custom.0.name|upper}}</li>
            {% endfor %}
        </ul>
        <script>
            $(document).ready(function() {
                var urlParams = new URLSearchParams(window.location.search);
                if(!urlParams.get("feed")) {
                    $("#all").addClass("active");
                    urlParams.set("feed", "all");
                }
                history.replaceState(null, null, "?"+urlParams.toString());
                $(".header").click(function() {
                    $(".header").removeClass("active");
                    $(this).addClass("active");
                    $(".cards").hide();
                    $("#cards-"+this.id).show();
                    urlParams.set("feed", this.id);
                    history.replaceState(null, null, "?"+urlParams.toString());
                    /* to-do: search bar, DNR
                    $("#search-bar").val("");
                    var urlParams = new URLSearchParams(window.location.search);
                    urlParams.delete("ft");
                    urlParams.set("q", "");
                    history.replaceState(null, null, "?"+urlParams.toString());
                    */
                });
            });
        </script>
    </div>
    <div class="card-container">
        <!-- to-do: search bar, DNR
        <div class="search-items">
            <div class="input-field">
                <form class="search-form" method="get">
                    <input id="search-bar" type="text" name="q" placeholder="Search">
                    <button id="search-button" type="submit"><span class="material-icons md-24 md-bold">search</span></button>
                </form>
            </div>
            to-do: filter tags, DNR
            <div class="filter dropdown">
                <span class="anchor">Filter Tags <span class="material-icons md-24">arrow_drop_down</span></span>
            </div>
        </div>
        -->
        <div class="cards" id="cards-all">
            {% for announcement in feed_all %}
            {% include "./card_snippet.html" %}
            {% empty %}
            <div class="message">There are no announcements posted at this time. Check back in a bit!</div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="cards" id="cards-my-feed">
            {% for announcement in feed_my %}
            {% include "./card_snippet.html" %}
            {% empty %}
            <div class="message">There are no announcements in your feed. Join a club!</div>
            {% endfor %}
        </div>
        {% endif %}
        {% for feed_custom in feeds_custom %}
        <div class="cards" id="cards-{{feed_custom.0.name|lower}}">
            {% for announcement in feed_custom.1 %}
            {% include "./card_snippet.html" %}
            {% empty %}
            <div class="message">There are no announcements posted at this time. Check back in a bit!</div>
            {% endfor %}
        </div>
        {% endfor %}
        <!-- to-do: search bar, DNR
        <div class="cards" id="cards-search">
            {% for announcement in search %}
            {% include "./card_snippet.html" %}
            {% empty %}
            <div class="message">There are no announcements that match your search terms</div>
            {% endfor %}
        </div>
        -->
        <script>
            $(document).ready(function() {
                var urlParams = new URLSearchParams(window.location.search);
                $(".cards").hide();
                if(!$("#cards-"+urlParams.get("feed")).length) {
                    urlParams.set("feed", "all");
                    history.replaceState(null, null, "?"+urlParams.toString());
                } 
                $("#cards-"+urlParams.get("feed")).show(); //remove when search reimplemented
                $(".header").removeClass("active");
                $("#"+urlParams.get("feed")).addClass("active");
                $(".card-authors-text").find("a").addClass("link");
                /* to-do: search bar, DNR
                var urlParams = new URLSearchParams(window.location.search);
                if(urlParams.get("q")) {
                    if(urlParams.get("ft") != "get") {
                        $("#search-bar").val(urlParams.get("q").split("+").join(" "));
                    }
                    $(".header").removeClass("active");
                    $("#all").addClass("active");
                    $("#cards-search").show();
                } else {
                    $("#cards-all").show();
                }*/
            });
        </script>
    </div>
</div>
{% endblock %}
