{% extends 'core/base.html' %}
{% load static %}
{% block main %}
    <br>
    <div class="main-container card">
        <h2 class="center-align message">404: Page Not Found</h2>
        <img class="comic-img" style="max-width: 100%"/>

        <div class="display-metropolis valign-wrapper">
            <img class="inline-logo" src="{% static 'core/img/logo-dark-transparent.png' %}"/>
        </div>

        <div class="game-container" hidden>
            <input type="button" class="control-button" id="up-button" value="W"/><br>
            <div class="row valign-wrapper game-mid">
                <div style="margin-left: auto; margin-right: auto;">
                    <input type="button" class="col control-button" id="left-button" value="A"/>
                    <div class="game-content col">
                        <canvas id="game-canvas" style="background-color: black"></canvas>
                        <div class="result-container valign-wrapper">
                            <div class="result-display valign-wrapper" hidden>
                                <div class="result-display-text">
                                    <span class="result-display-message">Start Game</span><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" class="col control-button" id="right-button" value="D"/><br>
                </div>
            </div>
            <input type="button" class="control-button" id="down-button" value="S"/>
        </div>

        <p class="center-align">
            <a href="/">Return Home</a>
            <!-- No one is out of Elastigirl's reach, but unfortunately, even this page is out of her reach too. (It doesn't exist!) :( -->
        </p>

    </div>
{% endblock %}

{% block deps %}
    <link rel="stylesheet" href="{% static 'core/css/404.css' %}" type="text/css"/>
    <script src="{% static 'core/js/404-snake.js' %}"></script>

    <script>
        $(function () {
            let numImages = 3;
            $(".comic-img").attr("src", "{% static 'core/img/404-comics' %}/404-" + Math.floor(Math.random() * numImages) + ".png");
        })
    </script>
{% endblock %}
