{% extends 'core/base.html' %}
{% block title %}429: Too Many Requests{% endblock %}
{% block main %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">429: Too Many Requests</h5>
            <p class="card-text">
                {% if exception %}
                    <p>{{ exception }}</p>
                {% else %}
                    <p>Sorry, you've sent too many requests. Please wait a moment and try again.</p>
                {% endif %}
                <a href="/">Return Home</a>
            </div>
        </div>
    {% endblock %}
