{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'core/snippets/banner.html' with banner_message="You are currently offline" %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/index-banner.css' %}" type="text/css">
<script src="{% static 'js/luxon.min.js' %}"></script>
<script src="{% static 'core/js/schedule.js' %}"></script>
<style>
    .banner {
        height: 100vh;
    }
    
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
</style>
{% endblock %}
