{% extends 'core/base.html' %}
{% load link_tags %}
{% load martortags %}
{% load static %}

{% block deps %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/blog-list.css' %}">
<meta property="og:title" content="Blog">
<meta property="og:description" content="Home of the Project Metropolis blog">
<meta property="og:image" content="/static/core/img/logo/logo-any-192.png">
{% endblock %}

{% block main %}
<div class="container">
    <div class="card-container">
        {% for blogpost in blogposts %}
        {% include "./card_snippet.html" %}
        {% empty %}
        <div class="message">There are no blog articles posted at this time. Check back in a bit!</div>
        {% endfor %}
        <script>
            $(".card-authors-text").find("a").addClass("link");
        </script>
    </div>
</div>
{% endblock %}
