{% load static %}
<div class="banner">
    <div class="background"><img src="{% static 'core/img/top-banner.png' %}"/></div>
    {% if banner_message %}
        <div class="overlay-container">
            <div class="banner-message center-align">
                <span>{{ banner_message }}</span>
            </div>
        </div>
    {% endif %}
    <div class="overlay-container valign-wrapper">
        <div class="next-class center-align">
            <h4 class="schedule-course">Loading...</h4>
            <span class="schedule-description">Please wait a sec.</span>
        </div>
    </div>
    <div class="schedule-today-overlay hide-on-small-and-down">
        <div class="schedule-today-overlay-container">
            <h4 class="schedule-cycle"></h4>
            <div class="schedule-today-courses">
            </div>
        </div>
    </div>
</div>
