{% load static %}
{% load settings_tags %}
<div class="banner">
    <div class="background"><img src="{% settings_value 'THEME_BANNER' %}"/></div>
    <div class="overlay-container valign-wrapper">
        <div class="next-class center-align">
            <h4 class="schedule-course"></h4>
            <span class="schedule-description"></span>
        </div>
    </div>
    <div class="schedule-today-overlay hide-on-small-and-down">
        <div class="schedule-today-overlay-container">
            <h4 class="schedule-cycle"></h4>
            <div class="schedule-today-courses">
            </div>
        </div>
    </div>
    {% if banner_data or offline %}
        <div class="overlay-container">
            <div class="banner-message center-align">
		<span>
            {% if offline %}
            You are currently offline
		    {% elif not banner_data.logged_in %}
			<a href="{% url 'account_signup' %}">Sign up</a> and add your timetable to see a personalized schedule here.
		    {% elif banner_data.nudge_add_timetable %}
			<a href="{% url 'timetable_create' banner_data.current_term_id %}">Add your timetable</a> to see a personalized schedule here.
		    {% endif %}
		</span>
            </div>
        </div>
    {% endif %}
</div>
