{% load static %}
{% load settings_tags %}
<div class="banner">
    <div class="background"><img src="{% settings_value 'THEME_BANNER' %}"/></div>
    <div class="overlay-container valign-wrapper">
        <div class="next-class center-align">
            <h4 class="schedule-course"></h4>
            <span class="schedule-description"></span>
        </div>
    </div>
    <div class="schedule-today-overlay hide-on-small-and-down">
        <div class="schedule-today-overlay-container">
            <h4 class="schedule-cycle"></h4>
            <div class="schedule-today-courses">
            </div>
        </div>
    </div>
    {% if banner_message %}
        <div class="overlay-container">
            <div class="banner-message center-align">
                <span>{{ banner_message }}</span>
            </div>
        </div>
    {% endif %}
</div>
