{% load link_tags %}
{% load pubreq_tags %}
{% load markdown_tags %}

<div class="card">
    <div class="card-headers">
        <div class="tag-section">
            {{pubreq|pubreq_tags:user}}
        </div>
        <h1 class="title">{{pubreq.title}}</h1>
        <div class="card-authors">
            <div class="card-authors-image">
                <a href="{{pubreq.organization.slug|organization_url}}"><img class="circle" src="{{pubreq.organization.icon.url}}"></a>
            </div>
            <div class="card-authors-text">
                {{pubreq.organization.slug|organization}},
                {{pubreq.requesters.all|users}}
            </div>
        </div>
    </div>
    <hr>
    <div class="card-body">
        <p>{{pubreq.body|markdown|striptags|linebreaksbr}}</p>
    </div>
    <br>
    <a class="link" href="{{pubreq.pk|pubreq_url}}">See pubreq <i class='zmdi zmdi-chevron-right'></i></a>
</div>
