{% extends 'core/base.html' %}
{% load link_tags %}
{% load static %}

{% block deps %}
<link rel="stylesheet" href="{% static 'core/css/pubreq-list.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="card-container">
        <div class="cards" id="cards-all">
            {% for pubreq in feed_all %}
            {% include "./card_snippet.html" %}
            {% empty %}
            <div class="message">There are no requests for publishing available for you at this time.</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
