name: Playwright Tests
on:
  push:
jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Dependencies
      run: |
        python -m pip install poetry
        poetry config virtualenvs.in-project true
        poetry install
    - name: Make files
      run:  |
        make metropolis/local_rsa_privkey.pem
        cat metropolis/local_rsa_privkey.pem
        make metropolis/local_settings.py
    - name: Migrations
      run: .venv/bin/python -Wa manage.py migrate
    - name: Setup
      run: |
        export DJANGO_SUPERUSER_PASSWORD=verysecure
        .venv/bin/python -Wa manage.py createsuperuser --username sotokanda --email metropolis+sotokanda@nyiyui.ca --skip-checks
        # NOTE: disable for now as it no worky (but works on local)
        #- name: Django Tests
        #  run: .venv/bin/python -Wa manage.py test
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: |
        source .venv/bin/activate
        npx playwright test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
